<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resultado del Juego</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilo personalizado para el botón rosa */
        .btn-pink {
            background-color: pink;
            color: rgb(250, 19, 19);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Resultado del Juego</h1>
        <p class="text-center" th:text="${message}"></p>

        <!-- Formulario para continuar jugando, solo se muestra si el mensaje no es de victoria -->
        <div th:if="${!message.startsWith('¡Felicidades!')}" class="text-center">
            <form action="/juego" method="post">
                <div class="form-group mx-auto">
                    <label for="numero">Ingresa un número del 1 al 10:</label>
                    <input type="number" class="form-control input-sm mx-auto d-block" id="numero" name="numero" min="1" max="10" required style="width: 100px;">
                </div>
                <button type="submit" class="btn btn-pink">Continuar Jugando</button>
            </form>
        </div>

        <p class="text-center mt-3"><a href="/juego/reset">Reiniciar el juego</a></p>
    </div>

</body>
</html>
